md-form-field{
    width: 100%;
}
.filter{
    width: 30%;
  
}
.inline {
    /* display: inline-block; */
}

.parent {
  position: relative;
}
.right {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.inputsearch 
{
    float: left;
    margin-left: 10px;
    width: 150px;
}
