<div>
    <md-card>
      <md-card-title>Course's Participants</md-card-title>
      <md-card-content>     
     
        <md-table style="padding:0;margin:0;" #table [dataSource]="dataSource" mdSort>
          
          <ng-container mdColumnDef="id">
            <md-header-cell *mdHeaderCellDef md-sort-header fxFlex="120px"> Id </md-header-cell>
            <md-cell *mdCellDef="let participant"fxFlex="120px">{{participant?.employee?.employeeId}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="fullname">
            <md-header-cell *mdHeaderCellDef md-sort-header> Fullname </md-header-cell>
            <md-cell *mdCellDef="let participant"> {{participant?.employee?.fullname}} </md-cell>
          </ng-container>
  
        <ng-container mdColumnDef="jobfamily">
          <md-header-cell *mdHeaderCellDef md-sort-header> Job Family </md-header-cell>
          <md-cell style='width:100px;word-wrap: break-word; ' *mdCellDef="let participant"> {{participant?.employee?.grade?.jobfamily}} </md-cell>
        </ng-container>
  
        <ng-container mdColumnDef="grade">
          <md-header-cell *mdHeaderCellDef md-sort-header> Grade </md-header-cell>
          <md-cell *mdCellDef="let participant"> {{participant?.employee?.grade?.grade}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="result">
                <md-header-cell *mdHeaderCellDef md-sort-header>Result</md-header-cell>
                <md-cell *mdCellDef="let participant">
                        <select [(ngModel)]="participant.pass" >
                            <option [value]="true">Passed</option>
                            <option [value]=null>In Progress</option>
                            <option [value]="false">Failed</option>
                        </select>  
               
                </md-cell>
            </ng-container>
      
          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
      </md-card-content>
      <md-card-actions>
        <md-card-actions>
            <button md-button color="primary" (click)="save()"  >Save</button>
            <button md-button color="indigo" (click)="back()" >Back</button>
        </md-card-actions>
    </md-card-actions>
    </md-card>
  </div>
  