<div>
    <md-card>
        <md-card-header>
             <md-card-title><h2>{{tobeUpdatedEmployee?.fullname}}</h2></md-card-title>
        </md-card-header>
        <table>
            <tr>
                <td>Employee Id</td>
                <td>:</td>
                <td>{{tobeUpdatedEmployee?.employeeId}}</td>
            </tr>
            <tr>
                <td>Fullname</td>
                <td>:</td>
                <td>{{tobeUpdatedEmployee?.fullname}}</td>
            </tr>
            <tr>
                <td>JobFamily/Grade</td>
                <td>:</td>
                <td>{{tobeUpdatedEmployee?.grade?.jobfamily}}/{{tobeUpdatedEmployee?.grade?.grade}}</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>:</td>
                <td>{{tobeUpdatedEmployee?.location?.locationName}}</td>
            </tr>
        </table>
        
        <md-card-content>
            <md-tab-group [selectedIndex]="selectedIndex">
                <md-tab label="User Detail">
                    <md-card>
                    <md-card-content>
                        <table>
                                <tr>
                                    <td>Account</td>
                                    <td>:</td>
                                    <td>{{tobeUpdatedEmployee?.accountName}}</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>:</td>
                                    <td><a href="tobeUpdatedEmployee.email">{{tobeUpdatedEmployee?.email}}</a></td>
                                </tr>
                                <tr>
                                    <td>Active</td>
                                    <td>:</td>
                                    <td>
                                        <div *ngIf="currentUser.role==1 then adminBlock else managerBlock"></div>
                                            <ng-template #adminBlock>
                                                <md-checkbox 
                                                    color="primary" 
                                                    [checked]="tobeUpdatedEmployee?.active"
                                                    (change)="tobeUpdatedEmployee.active =! tobeUpdatedEmployee.active"
                                                    [disabled] = "loading"
                                                    >
                                                    <div *ngIf="tobeUpdatedEmployee?.active then thenBlock else elseBlock"></div>
                                                    <ng-template #thenBlock>Active</ng-template>
                                                    <ng-template #elseBlock>Not Active</ng-template>
                                                </md-checkbox>
                                            </ng-template>
                                            <ng-template #managerBlock>
                                                <div *ngIf="tobeUpdatedEmployee?.active then thenBlock else elseBlock"></div>
                                                    <ng-template #thenBlock>Active</ng-template>
                                                    <ng-template #elseBlock>Not Active</ng-template>
                                            </ng-template>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Stream</td>
                                    <td>:</td>
                                    <td>{{tobeUpdatedEmployee?.stream}}</td>
                                </tr>
                                <tr>
                                    <td>Role</td>
                                    <td>:</td>
                                    <td>
                                        <div *ngIf="currentUser.role==1 then adminRolesBlock else managerRolesBlock"></div>
                                            <ng-template #adminRolesBlock>
                                                <div *ngFor="let role of roles">
                                                    <md-checkbox color="primary" 
                                                        [checked]="searchRole(tobeUpdatedEmployee, role)"
                                                        (change)="toggleRole(tobeUpdatedEmployee, role)"
                                                        [disabled] = "loading"
                                                        >
                                                        {{role?.roleName}}
                                                    </md-checkbox>
                                                </div>
                                            </ng-template>
                                            <ng-template #managerRolesBlock>
                                                <div *ngFor="let role of tobeUpdatedEmployee?.roles">
                                                    {{role?.roleName}}
                                                </div>
                                            </ng-template>
                                    </td>
                                </tr>
                            </table>
                        </md-card-content>
                        <md-card-actions>
                            <div *ngIf="currentUser.role==1">
                                    <md-card-actions>
                                        <button md-button color="primary" (click)="updateUser()" [disabled] = "loading" >Save</button>
                                        <button md-button color="indigo" (click)="back()" [disabled] = "loading">Back</button>
                                    </md-card-actions>
                        
                                </div>
                        </md-card-actions>
                    </md-card>
                    
                </md-tab>
            
                <md-tab label="Achievement Detail">
                    <achievement-detail
                        [idParam]="idParam"
                        [currentUser]="currentUser">
                    </achievement-detail>
                </md-tab>
            </md-tab-group>
        </md-card-content>
        
        
        
    </md-card>
</div>